<h1><%= @articulo.titulo %></h1>
<% unless @articulo.usuario.nil? %>
<p>Escrito por: <%= @articulo.usuario.email %></p>
<%end%>
<p>Visitas: <%= @articulo.contador_visitas %></p>
<div>
	<%= @articulo.cuerpo %>
</div>
<div class="field">
	<h3>Comentarios</h3>
	<%= render "comentarios/form" %>
</div>
<div>
	<%= link_to "Editar", edit_articulo_path(@articulo) %>
</div>